/*** Fuente primaria  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;900&display=swap" rel="stylesheet"> **/

/*** Fuente secundaria  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet">  **/

/** font-family: 'Source Sans Pro', sans-serif ;  **/

//1-Copiar las fuentes en la carpeta assets/fonts

//2-copiar font-face
//3-Llenar fuentes

// @font-face {
//   font-family: "CeraPRO-Bold";
//   src: url("..../fonts/3447DA_0_0.eot");
//   src: url("..../fonts/3447DA_0_0.eot?#iefix") format("embedded-opentype"),
//     url("..../fonts/3447DA_0_0.woff2") format("woff2"),
//     url("..../fonts/3447DA_0_0.woff") format("woff"),
//     url("..../fonts/3447DA_0_0.ttf") format("truetype");
// }

// @font-face {
//   font-family: "Eksell";
//   src: url(../assets/fonts/open-sans-v16-latin-700.eot);
//   src: url(../assets/fonts/open-sans-v16-latin-700.eot?#iefix) format("embedded-opentype"),
//     url(../assets/fonts/open-sans-v16-latin-700.woff2) format("woff2"),
//     url(../assets/fonts/open-sans-v16-latin-700.woff) format("woff");
//   font-style: normal;
//   font-weight: normal;
//   font-display: swap;
// }


@font-face {
  font-family: "realm";
  src: url(../assets/fonts/real-medium.eot);
  src: url(../assets/fonts/real-medium.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/real-medium.woff2) format("woff2"),
    url(../assets/fonts/real-medium.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "realm";
  src: url(../assets/fonts/real-demi.eot);
  src: url(../assets/fonts/real-demi.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/real-demi.woff2) format("woff2"),
    url(../assets/fonts/real-demi.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "realb";
  src: url(../assets/fonts/real-bold.eot);
  src: url(../assets/fonts/real-bold.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/real-bold.woff2) format("woff2"),
    url(../assets/fonts/real-bold.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

$colorsGuide: (
  black: #000000,
  secondary-color: #f5f5f5,
  gray-90: #171717,
  gray-80: #2e2e2e,
  gray-70: #464646,
  gray-60: #5d5d5d,
  gray-50: #757575,
  gray-40: #909090,
  gray-30: #acacac,
  gray-20: #c7c7c7,
  gray-10: #e3e3e3,
  makumba: #999999,
  white-smoke: #f5f5f5,
  White: #ffffff,
  link: #c7c7c7,
  linkHover: #999,


  primary: #000,
  color-1: #e6f5ff,
  color-2: #b5e6c8,
  color-3: #fef7c1,
  color-4: #fadfc1,
  color-5: #fcd8cd,

   error: #fd675e,
   sales: #fa3b2c,
   Sales-Variant: #e43628,
   error-primary:#D0021B ,


   primary-guide:#121F2A,
   secondary-guide:#6759bb,
   ternary-guide:#6759bb,
);

$font-primary: #2c2c2c;
$font-family-primary: "Source Sans Pro", sans-serif;

$font-family-light: "Source Sans Pro", sans-serif;
$font-family-regular: "Source Sans Pro", sans-serif;
$font-family-medium: "realm", sans-serif  ;
$font-family-bold: "realb", sans-serif ;


/** font-family: 'Playfair Display', serif; **/

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 900;

$font-family-secondary: 'Gilda Display', serif  ; 

$font-weight-secondary-light: 200;
$font-weight-secondary-regular: 400;
$font-weight-secondary-medium: 700;
$font-weight-secondary-bold: 900;

$primary-guide: #121f2a;
$secondary-guide: #db2753;

$error-primary: #fd675e;
$link: rgb(207, 236, 240);
$linkHover: #999;
$black: #111111;
$padding-global:8px;

$container-3: 1100px;

.error-text {
  position: absolute;
  color: $error-primary;
}

* {
  box-sizing: border-box;
}

$headers: /* name:mobile,768,992,1280,line-height,font */ (
  h1: ( 32px, 32px, 32px, 40px, 1.2, "bold" ),
  h2: ( 24px, 24px, 24px, 32px, 1.2, "bold" ),
  h3: ( 18px, 18px, 18px, 24px, 1.4, "bold" ),
  h4: ( 16px, 16px, 16px, 18px, 1.2, "medium" ),
  h5: ( 14px, 14px, 14px, 16px, 1.2, "medium" ),
  h6: ( 48px, 48px, 48px, 48px, 1.2, "bold" ),
  h26: ( 48px, 48px, 58px, 64px, 1, "bold" ),
  h7: ( 10px, 10px, 10px, 12px, 1.2, "medium" ),
  h8: ( 8px, 8px, 8px, 8px, 1.2, "medium" ),
  second-h1: ( 32px, 32px, 32px, 40px, 1.2, "2-regular" ),
  second-h2: ( 24px, 24px, 24px, 32px, 1.2, "2-regular" ),
  second-h3: ( 18px, 18px, 18px, 24px, 1.2, "2-regular" ),
  second-h4: ( 16px, 16px, 16px, 18px, 1.2, "2-regular" ),
  second-h5: ( 14px, 14px, 14px, 16px, 1.2, "2-regular" ),
  second-h6: ( 12px, 12px, 12px, 14px, 1.2, "2-regular" ),
  second-h7: ( 10px, 10px, 10px, 12px, 1.2, "2-regular" ),
  second-h8: (
    8px,
    8px,
    8px,
    10px,
    1.2,
    "2-regular"
  ),
  p1: (
    18px,
    18px,
    18px,
    18px,
    1.5,
    "regular"
  ),
  p2: ( 18px, 16px, 16px, 18px, 1.3, "regular" ),
  p3: ( 18px, 18px, 20px, 24px, 1.3, "regular" ),
  p4: ( 14px, 14px, 16px, 18px, 1.4, "medium" )
);


$py: "padding";
$padding-y: /* name : padding  arriba y abajo*/
  
   (py-16: (10px 0, 16px 0, 16px 0, 16px 0),
    py-20: (10px 0, 20px 0, 20px 0, 20px 0),
    py-30: (10px 0, 30px 0, 30px 0, 30px 0),
    py-50: (20px 0, 30px 0, 40px 0, 50px 0),
    py-60: (24px 16px, 24px 16px, 24px 16px, 60px 60px)) !default;


/* TYPES FIJOS */
$headersFixers: (
  /*name :  fontsize, lineheight */ 12: (12px, 1.5),
  14: (14px, 1.5),
  16: (16px, 1.5),
  18: (18px, 1.5),
  20: (20px, 1.5),
  24: (24px, 1.5)
);

$headersFluids: (
  /*name :  fontsize, lineheight */ 12: (12px, 12px, 1.2),
  6: (14px, 12px, 1.2),
  5: (20px, 20px, 1.5),
  4: (24px, 26px, 1.2),
  3: (24px, 32px, 1.2),
  2: (40px, 50px, 1.1),
  1: (30px, 90px,  .9),
  0: (30px, 64px, 1)
);


$pt: "padding-top";
$padding-top: /* name : padding  top*/
(pt-8: (8px, 8px, 8px, 8px),
 pt-10: (10px, 10px, 10px, 10px),
 pt-16: (16px, 16px, 16px, 16px),
 pt-20: (10px, 20px, 20px, 20px),
 pt-30: (30px, 30px, 30px, 30px),
 pt-40: (40px, 40px, 40px, 40px),
 pt-50: (50px, 50px, 50px, 50px),
 pt-64: (64px, 64px, 64px, 64px),
 pt-md:(64px, 80px, 128px, 128px),
 pt-lg:(100px, 120px, 150px, 150px),
 );


 $pt: "padding-bottom";
$padding-bottom: /* name : padding  top*/
(pb-8: (8px, 8px, 8px, 8px),
 pb-10: (10px, 10px, 10px, 10px),
 pb-16: (16px, 16px, 16px, 16px),
 pb-20: (10px, 20px, 20px, 20px),
 pb-30: (30px, 30px, 30px, 30px),
 pb-40: (40px, 40px, 40px, 40px),
 pb-50: (50px, 50px, 50px, 50px),
 pb-big: (64px, 64px, 64px, 64px),
 pb-md:(64px, 80px, 128px, 128px),
 pb-lg:(100px, 120px, 150px, 150px),
 );


$mb: "margin-bottom";
$margin-bottom: /* name : margen bottom*/ (
  mb-4: (
    4px,
    4px,
    4px,
    4px
  ),
  mb-10: (
    10px,
    10px,
    10px,
    10px
  ),
  mb-16: (
    10px,
    10px,
    16px,
    16px
  ),
  mb-20: (
    20px,
    20px,
    20px,
    20px
  ),
  mb-24: (
    20px,
    20px,
    24px,
    24px
  ),
  mb-30: (
    30px,
    30px,
    30px,
    30px
  ),
  mb-40: (
    20px,
    40px,
    40px,
    40px
  ),
  mb-50: (
    50px,
    50px,
    50px,
    50px
  ),
  mb-big: (
    30px,
    50px,
    50px,
    50px
  ),
  mb-mini: (
    30px,
    0px,
    0px,
    0px
  )
);
$mt: "margin-top";
$margin-top: /* name : margen bottom*/ (
  mt-10: (
    10px,
    10px,
    10px,
    10px
  ),
  mt-20: (
    20px,
    20px,
    20px,
    20px
  ),
  mt-50: (
    20px,
    50px,
    50px,
    50px
  ),
  mt-big: (
    100px,
    100px,
    100px,
    100px
  )
);
.bar-left {
  position: relative;
}
.bar-left:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 2px;
  width: 100px;
  background-color: $c-primary;

}

.bar-right {
  text-align: right;
  position: relative;
  padding-right: 20px;
}
.bar-right:before {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  height: calc(100% - 16px);
  width: 10px;
  background-color: $c-primary;
}

.bg-img{
  background-repeat: no-repeat;
  background-position: center center;
}
.ov-hidden{
  overflow: hidden;
}


.h26{
  font-weight: 100 !important;
}
em{
  color: $c-primary;
  font-style: normal;
}


.swiper-container2 {
  margin-left: auto;
  margin-right: auto;
  position: relative;

}

.swiper-slide img {
  display: block;
  width: 100%;
}