/*+------------------------------------------------------------+
 |       - FASE 1: IMPORTAR FUENTES
 +------------------------------------------------------------+*/
html,
body,
div,
span,
select,
object {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
a {
	color: inherit;
	text-decoration: none;
}
@import "./0_variables.scss";
@import "./setup.scss";
/*+------------------------------------------------------------+
|       -FASE 2 : IMPORTA TU HOLYGRAIL
+------------------------------------------------------------+*/
@import "../node_modules/holygrailcss/scss/partials";
/*+------------------------------------------------------------+
|       -FASE 3 : OVERRIDE Tu HOLYGRAIL
+------------------------------------------------------------+*/
@import "./theme";
@import "./components/block-price";
@import "./components/hero3";
@import "./components/hero4";
@import "./components/header2";
@import "./components/block-a-1";
@import "./components/block-a-2";
@import "./menu1";
@import "./animations";
body {
	overflow-x: hidden;
  color:$font-primary;
}
.container-3 {
	padding-right: 24px;
	padding-left: 24px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 100%;
	max-width: 1100px;
}
.half-white-bg {
  position: relative;
	@media (min-width: $break-sm) {
		* {
			position: relative;
			z-index: 1;
		}
		&:after {
			content: "";
			position: absolute;
			top: -4rem;
			left: auto;
			right: 0;
			bottom: -4rem;
			z-index: 0;
			width: 100vw;
			background-color: #fff;
		}
	}
}
.half-white-bg-r {
  position: relative;
	@media (min-width: $break-sm) {
		* {
			position: relative;
			z-index: 1;
		}
		&:after {
			content: "";
			position: absolute;
			top: -4rem;
			left: 0;
			right: auto;
			bottom: -4rem;
			z-index: 0;
			width: 100vw;
			background-color: #fff;
		}
	}
}
hr {
	margin: 0;
}
@media (max-width: $break-sm) {
  .small-bg-white {
    background-color: #fff;
    margin-left: -16px;
    margin-right: -16px;
  }
}
.swiper-buttons{
  position: relative;
  float: left;
  margin-bottom: 20px;
}
.swiper-button-prev, .swiper-button-next ,
.swiper-button-prev1, .swiper-button-next1{
  top: 50%;
  width: 27px;
  height: 44px;
  z-index: 10;
  margin-bottom: 20px;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  background-color: $c-primary;;
  &:hover{
    cursor: pointer;
  }
}
.swiper-button-next1{
  svg{
    transform: rotate(180deg);
  }
}
 .swiper-button-next, .swiper-button-prev , 
 .swiper-button-next1, .swiper-button-prev1 {
  top: auto;
  width: 35px;
  height: 35px;
  background-color: $c-primary;;
  background-image: none;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  @media (min-width: $break-sm) {
    width: 55px;
    height: 55px;
  }
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}
.bg-dark hr{
  border-top: 1px solid #373737;
}
.swiper-container{
  padding-bottom:20px;
  width: calc(100vw - 16px);
    @media (min-width: $break-sm ) {
      width: calc(100vw - ((100vw - (768px - 64px )) / 2));
    }
    @media (min-width: $break-sm ) {
      width: calc(100vw - ((100vw - (952px - 64px )) / 2));
    }
    @media (min-width: $break-lg ) {
      width: calc(100vw - ((100vw - (1240px - 64px )) / 2));
    }
.swiper-slide {
  &:after{
    content: '';
    width: 100%;
    height: 6px;
    background-color: $c-primary;
    position: absolute;
    bottom :0;
    z-index: -1;
    transition: all .4s ease;
  }
}
.swiper-slide-active{
  &:after{
    bottom :-12px;
    z-index: 1;
  }
}
}
.btn{
  font-family:"Source Sans Pro", sans-serif ;
}
.full-line{
  height: 2px;
  width: 100%;
  background-color: #000;
}
.invert{
  filter: invert(1);
}
.img-container{
  object-fit: cover;
}
.boxservice{
  background-color: $c-primary;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:after{
    content: "";
    width: 42%;
    height: 42%;
    background-color: #000;
    position: absolute;
    z-index: 11;
    bottom: -50%;
    right: -50%;
    transform: rotate( 45deg);
    transition: all .3s ease;
  }
  svg{
    position: absolute;
    bottom: 20px;
    right:20px;
    transition: all .3s ease;
    z-index: 12;
    width: 10%;
    height: 10%;
  }



  .boxservice-img{
      
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $c-primary;
    background-position: center;
    background-size: cover;



    &:after{
      background-color: $c-primary;
      content:'';
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: .8;
      transition: all .3s ease;
    }

  }


  .boxservice-title{
    padding:20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 13;
  }


  &:hover{
    cursor:pointer;

    svg{
      bottom: 4px;
      right: 4px;
    }
    &:after{
      bottom: -25%;
      right: -25%;
    }

    .boxservice-img{
    
  
      &:after{

        opacity: .4;
      }
  
    }






  }



}






.rat-32-11 {
  @include ratio(3, 2);
  @media (min-width: $break-sm) {
    @include ratio(1, 1);
}
.rat-content{
  display: flex;
  align-content: center;
  justify-content: center;
  img{
    object-fit: cover;
  }
}
}  
@media (max-width: $break-sm ) {
  .scroll-nat{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
      [class*="col-"] {
        flex: 0 0 40vw;
        max-width: 40vw;
      }
  }
}
.ratio-3-2{
  aspect-ratio: 2 / 1;
}
.footer{
  a{
    color: #fff;
    opacity: .9;
  }
}
.bg-cream{
  background-color: $bg-light;
}
.p-content{
  width: 100%;
  max-width: 650px;
  margin: 0 auto 20px;
  @media (min-width: $break-sm) {
    margin: 0 auto 50px;
  }
}
.toc{
  background-color: $bg-light;
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.turn{
  transform: rotate(90deg);
}


.header-img img{
  position: absolute;
  z-index: 10;
  width: 100%;

}

.fullimg{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:after{
    width: 100%;
    position: absolute;
    content: "";
    background: -webkit-linear-gradient(hsla(0, 0%, 93%, 0),#333);
    -webkit-text-fill-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 12;
  }
}

