@import "../0_variables.scss";
.bg-half {
  position: relative;
  min-height: 500px;
  &:before {
    content: "";
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: white;
  }
}
.hg-module-12 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 600px;
  position: relative;
  .hg-module-12-features_a {
    position: relative;
    padding-top: 20px;
    z-index: 2;
    width: 100%;
    order: 2;
    @media (min-width: $break-sm) {
      margin-left: 50%;
      width: 50%;
      background-color: transparent;
    }
    @media (min-width: $break-md) {
      margin-left: 50%;
      width: 50%;
      background-color: transparent;
    }
    .hg-module-12-item {
      border-right: none;
      text-align: left;
      clear: both;
      float: right;
      min-width: 50%;
      width: 100%;
    }
  }
  .hg-module-12-features_b {
    position: relative;
    z-index: 2;
    width: 100%;
    order: 3;
    margin-left: 0%;
    @media (min-width: $break-sm) {
      width: 50%;
      background-color: transparent;
    }
    @media (min-width: $break-md) {
      width: 50%;
      background-color: transparent;
    }
    .hg-module-12-item {
      width: 100%;
      text-align: left;
      clear: both;
      float: right;
      border-right: none;
    }
  }
  .hg-module-12-features_img {
    position: relative;
    width: 100%;
    z-index: 1;
    order: 1;
    top: 35px;
    max-width: 500px;
    margin: 0 auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-width: $break-md) {
      position: absolute;
    }
  }
}
.hg-module-12-item {
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 5px solid $c-primary;
  border-right: 5px solid $c-primary;
  margin-bottom: 20px;
  min-width: 50%;
  line-height: 0.5;
  @media (min-width: $break-md) {
    .hg-module-12-item {
      max-width: 200px;
    }
  }
}
@media (min-width: $break-md) {
  .hg-module-12 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 640px;
    .hg-module-12-features_a {
      width: 200px;
      margin-left: 0;
      order: 1;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: space-around;
      .hg-module-12-item {
        text-align: right;
        padding-right: 10px;
        border-left: none;
        border-right: 5px solid $c-primary;
      }
    }
    .hg-module-12-features_img {
      right: 0;
      position: relative;
      width: 300px;
      left: 0;
      margin: 20px;
      min-height: 500px;
      z-index: 2;
      order: 2;
      @media (min-width: $break-md) {
        width: 550px;
      }
    }
    .hg-module-12-features_b {
      width: 200px;
      margin-left: 0;
      order: 3;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: space-around;
      .hg-module-12-item {
        text-align: left;
        padding-left: 10px;
        padding-right: 0;
        border-right: none;
      }
    }
  }
}
.hg-module-mockup {
  max-width: 400px;
  position: relative;
  z-index: 1;
  margin: -80px auto 0;
  img {
    pointer-events: none;
    position: relative;
    z-index: 2;
  }
}
.hg-module-mockup-inner {
  position: absolute;
  background-color: white;
  z-index: 0;
  top: 8%;
  bottom: 10%;
  right: 16%;
  left: 16%;
  border-radius: 50px;
  overflow: hidden;
  padding: 0px 0px;
}
.hg-module-13 {
}
.hg-module-13-inner {
  padding: 48px 16px 16px;
  position: relative;
  .h6 {
    position: absolute;
    font-size: 112px;
    line-height: 0.5;
    z-index: -1;
    opacity: 0.3;
    color: #e0e0e0;
    top: 16px;
    left: -10px;
  }
  .h4 {
    font-size: 22px;
    color: $c-primary;
    @include font-bold;
    line-height: 1.2;
  }
  .p1 {
    color: #999;

  }
}
.icon-round {
  position: relative;
  border: 3px solid $c-primary;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: $c-primary;
    transform: scale(0.6);
  }
  @media (min-width: $break-sm) {
    width: 130px;
    height: 130px;
    svg {
      top: 40px;
      left: 40px;
      transform: scale(1.6);
    }
  }
}
.mn {
  overflow: hidden;
  background-color: #f6f5f3;
}
.mn-superior,
.mn-logo-desc {
  display: none;
}
.mn a {
  color: black;
}
.mn-detail {
  background-color: #f6f5f3;
  overflow: hidden;
}
.mn-logo {
  box-sizing: border-box;
  text-align: center;
  padding: 16px 16px 32px;
  width: 100%;
}
.mn-logo-img {
  max-width: 250px;
  display: inline-block;
  text-align: center;
}
.mn-title,
.mn-title-detail {
  font-size: 40px;
  line-height: 40px;
  padding: 0 16px 64px 16px;
  font-weight: 800;
}
.mn-wrap {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mn-item {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 16px;
  text-align: left;
  width: 100%;
  border-bottom: 2px solid #c99c45;
}
.mn-item-title {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding-bottom: 8px;
  padding-right: 50px;
  font-size: 18px;
}
.mn-item-longtitle {
  font-size: 14px;
}
.mn-item-price {
  position: absolute;
  font-size: 20px;
  top: 0px;
  right: 20px;
  font-weight: 400;
}
.mn-item-img {
  display: none;
}
.mn-detail-title {
  padding: 16px;
  font-size: 40px;
  text-align: center;
}
.mn-detail-list {
  float: left;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 50px;
}
.mn-detail-img {
  float: right;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
  width: 60%;
  box-sizing: border-box;
  margin-right: -10%;
  background: linear-gradient(225deg, #e5e5e5, #c1c1c1);
  box-shadow: -20px 20px 60px #b6b6b6, 20px -20px 60px #f6f6f6;
}
.mn-ul {
  padding: 0;
  margin: 0 0 0 24px;
}
.mn-ul li {
  list-style: none;
  line-height: 2;
}
.mn-ul svg {
  display: inline-block;
}
.mn-ul span {
  display: inline-block;
  vertical-align: super;
  margin-left: 10px;
}
.mn-detail-description {
  clear: both;
  margin: 20px;
  border-radius: 20px;
  padding: 16px;
}
.mn-detail-header {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--main-color);
}
.mn-detail-description p {
  font-size: 14px;
  line-height: 1.5;
  padding-left: 0px;
  position: relative;
}
.mn-detail-description p:after {
  position: relative;
  float: left;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 8px;
  height: 1px;
  background-color: var(--main-text);
  border-radius: 50px;
  opacity: 0.2;
}
svg {
  fill: var(--main-color);
  stroke: var(--main-color);
}
.mn-footer {
  padding: 8px 8px 24px;
  width: 100%;
  text-align: center;
  background: var(--main-color);
  color: white;
}
.mn-footer-header {
  width: 100%;
}
.mn-footer-header span {
  font-weight: 900;
  font-size: 20px;
}
.mn-footer-subheader {
  width: 100%;
}
